*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

    list-style: none;
}

body{
    max-width: 100vw;
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color: white;
}
:root{

    /* colors */
    --nav-footer-bg: black;
    --bg-color-1: #F6F6F6;

    /* font variables */
    --pc-nav-text-font-size: 14px;
    --pc-hero-main-text-size: 48px;
    --pc-hero-description-size: 18px;

    --pc-section-headers: 36px;
    --mobile-section-headers: 24px;
 
    --mobile-hero-main-text-size: 24px;
    --mobile-hero-description-size: 14px;

    /* button sizes */
    --pc-cta-btn-width: 236px;
    --pc-cta-btn-height: 50px;

    /*services box dimensions*/
    --services-box-width:488px;
    --services-box-height:328px;

    --mobile-services-box-width:335px;
    --mobile-services-box-height:225px;
}

nav{
    padding-left: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 205px;

    background-color: var(--nav-footer-bg);
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* position: fixed; */
    width: 100vw;
    
}

    nav ul{
        display: flex;
        flex-direction: row;
        
    }

        nav ul li{
            font-size: var(--pc-nav-text-font-size);
            padding-left: 49px;
        }

        nav ul li:focus{
            animation: pulse ;
            padding-left: 49px;
        }
        .fas.fa-bars{
            /* margin-right: 20px; */
            display: none;
        }

.mobile-menu{
    display: none;
}


        /* Responsive Nav */

@media screen and (max-width:600px){
    nav{
        padding-left: 20px;
        padding-right: 20px;
    }

        nav img{
            width: 110px;
            height: 40px;
        }
        nav ul{
            display: none;
            /* display: block; */
        }
        
        .fas.fa-bars{
            display: inline-block;
        }

        .mobile-menu{
            background-color: black;
            font-size: var(--pc-nav-text-font-size);
            width: 60%;
            
            padding:10px 30px ;
            position: fixed;
            right: 0;
            top: 50px;
            display: none;
        }

        .mobile-menu.active{
            display: inline-block;
        }

        .mobile-menu li{
            margin-bottom: 10px;
            cursor: pointer;
            font-size: large;
            padding-bottom: 20px;
        }
}





/* Hero Section  */
.hero{
    display: flex;
    flex-direction: row;
}

    .hero .hero-text{
        width: 50%;
        height: 495px;
        padding-left: 120px;
        padding-top: 145px;
        padding-right: 80px;
        background-color: var(--bg-color-1);
    }
        .hero .hero-text .company-name{
            font-size: var(--pc-hero-main-text-size);
            font-weight: bold;
        }

        .hero .hero-text .company-decrp{
            font-size: var(--pc-hero-description-size);
            line-height: 30px;
        }
    .hero .hero-img{
        background-image: url(./assets/Images/homepage-img/hero-img-solar.png);
        width: 50%;
        
    }

/* Responsive Hero - Section  */
@media screen and (max-width:600px){
    .hero{
        flex-direction: column-reverse;
    }
    
    .hero .hero-img{
        width: 100vw;
        height: 500px;
        background-repeat: no-repeat;
        z-index: -1;
        
    }

    .hero .hero-text{
        width: 100vw;
        margin-top:-400px;
        background-color: transparent;
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 165px;
        
    }

        .hero .hero-text .company-name{
            font-size: var(--mobile-hero-main-text-size);
            font-weight: bold;
            color: white;
        }

        .hero .hero-text .company-decrp{
            font-size: var(--mobile-hero-description-size);
            line-height: 30px;
            color: white;
            font-weight: normal;

        }
        
        
    }
    


/* Services Section */

.services{
    text-align: center;
    justify-content: center;
    margin-top: 100px;
}
.services-header{
    font-size: var(--pc-section-headers);
}

.services-cards-container{
    margin: 40px;
    display: flex;
    flex-direction: row;
    /* padding: 0 auto; */
    justify-content:space-around;
}

.services-cards-container .services-cards{
        width: var(--services-box-width);
        height: var(--services-box-height);
        /* background-color: red; */

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

        .services-cards p{
            font-size: 24px;
            color: white;
        }
        
        .services-cards button, button{
            margin-top: 24px;
            width: var(--pc-cta-btn-width);
            height: var(--pc-cta-btn-height);
            background-color: rgb(255, 165, 0);
            color: white;
            border: none;
            border-radius: 6px;
        }

        button:focus{
            animation: pulse 1s;
            box-shadow: 0 0 0 2em rgba(rgb(255, 165, 0),0);
        }

        .services-card-1{
            width: 100%;
            height: auto;
            margin-right: 16px;
            background-image: url(./assets/Images/homepage-img/A111-removebg-preview\ 1.png);
        }

        .services-card-2{
            width: 100%;
            height: auto;
            background-image: url(./assets/Images/homepage-img/serices-solar.png);
        }

/* mobile version of services */
@media screen and (max-width:600px){
    .services{
        margin-top: 0px;
    }
    .services-header{
        font-size: var(--mobile-section-headers);
    }

    .services-cards-container{
        display: flex;
        flex-direction: column;
        /* padding: 0 auto; */
        justify-content:space-around;
        /* border: 1px solid red; */
    }

    .services-cards-container .services-cards{
        width: 100%;
        /* width: var(--mobile-services-box-width); */
        height: var(--mobile-services-box-height);
        margin-right: 0px;
                
    }

    .services-cards{
        width: 100%;
    }

    .services-card-1{
        width: 100%;
        height: auto;
    }

    .services-card-2{
        width: 100%;
        height: auto;
        margin-top: 24px;
    }

    .services-cards p{
        font-size: 18px;
    }
}

/* Featured Product Section */

.featured-product{
    padding-top: 30px;
    padding-left: 120px;
    padding-right: 217px;
    background-color: #F6F6F6;
    padding-bottom: 62px;
}
.featured-product p.header{
    font-size: var(--pc-section-headers);
    margin-bottom: 52px;
    
}

.product-img{
    border-radius: 7px;
}

.single-product{
    display: flex;
    flex-direction: row;
}
    /* .product-img-box{
        width: 490px;
        height: 328px;
        background-color:#D8DDF8;
        border-radius: 20px;
        border-color: 1px solid red;
    } */

    .product-descp{
        width: 500px;
        padding-left: 100px;
    }

    .product-descp .pheader{
        font-size: 25px;
        margin-bottom: 16px;
    }

    .product-descp .pdescp{
        font-size: 18px;
        margin-bottom: 40px;
    }
    
    @media screen and (max-width:600px){
        .featured-product{
            padding-top: 32px;
            padding-left: 20px;
            padding-right: 20px;
            padding: 32px;
            background-color: #F6F6F6;
        }

        .featured-product p.header{
            font-size: var(--mobile-section-headers);
            margin-bottom: 24px;
            
        }

        .single-product{
            flex-direction: column;
        }
        .product-img{
            content: url(./assets/Images/homepage-img/mobile-featured-product.png);
            margin-bottom: 37px;
            border-radius: 7px;
        }

        .product-descp{
            width: 300px;
            padding-left: 0px;
        }

        .product-descp .pheader{
            font-size: 18px;
            margin-bottom: 8px;
        }
    
        .product-descp .pdescp{
            font-size: 14px;
            margin-bottom: 24px;
            margin-right: 0;
        }
    }


/* Project showcase section */
.projects{
    display: flex;
    flex-direction: column;

    margin-left: 120px;
    margin-right: 120px;
    margin-top: 100px;

    text-align: center;
    padding-bottom: 63px;
}

    .projects .header{
        font-size: var(--pc-section-headers);
        margin-bottom: 16px;
    }

    .projects .project-descp{
        font-size: 18px;
        color: #7C7C7C;
        margin-bottom: 40px;
    }

    .project-gallery{
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: row;
        justify-content: space-between;
        /* margin: 10px; */
        /* background-color: red; */
        /* padding-bottom: 10px; */
    }

    @media screen and (max-width:600px){

        .projects{
            padding-bottom: 32px;
            margin-top: 64px;
            margin-left: 40px;
            margin-right: 40px;
        }
        .projects .header{
            font-size: var(--mobile-section-headers);
            margin-bottom: 16px;
        }

        .projects .project-descp{
            font-size: 14px;
            color: #7C7C7C;
            margin-bottom: 25px;
        }

        .project-gallery{
            display: flex;
            /* flex-wrap: wrap; */
            flex-direction: column;
            justify-content: space-around;
            
        }

        .project-gallery img{
            margin-bottom: 20px;
        }
    }

/* more section */
.more{
    display: flex;
    justify-content: center;
    align-items: center;
}

    .blue-box{
        background-color: #7E8FE9;
        color: white;
        display: flex;
        flex-direction: row;
        width: 85vw;
        border-radius: 20px;
        padding-left: 39px;
        padding-right: 39px;
        padding-top: 120px;
        padding-bottom: 120px;
    }

        .blue-box p{
            width: 75vw;
            font-size: 32px;
        }

    @media screen and (max-width:600px){
        .more{
            display: flex;
            justify-content:center;
            align-items: center;
        }

        .blue-box{
            flex-direction: column;
            width: 90vw;
            height: 300px;
            border-radius: 6px;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 64px;
            padding-bottom: 64px;
            justify-content: center;
            text-align: center;
        }

        .blue-box p{
            
            /* width: 90%; */
            font-size: 18px;
            font-weight: normal;
            
        }
    }


    /* footer styles */

.footer{
    margin-top: 128px;
    padding: 40px 100px 200px 120px;
    background-color: black;
    color: white;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100vw;

}

.footer-1{
    max-width: 30%;
}

.footer-1 .social-links i{
    margin-right: 24px;
    font-weight: bold;
}

.footer-2{
    max-width: 15%;
}

.footer-3{
    max-width: 30%;
}
.footer-1 .footer-1-descp{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 58px;
    
}

.footer-2-subheader, .footer-3-subheader{
    font-size: 24px;
    margin-bottom: 51px;
    margin-top: 36px;
}

.footer-2 .footer-links li{
    font-size: 18px;
    margin-bottom: 16px;
    
}

.footer-3 input{
    width: 389px;
    height: 53px;
    padding-left: 17px;
    padding-top: 17px;
    padding-bottom: 17px;
}

footer{
    width: 100%;
}

@media screen and (max-width:600px){
    .footer{
        margin-top: 64px;
        padding: 32px 20px 20px 32px;
        background-color: black;
        color: white;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .footer-1, .footer-2, .footer-3{
        max-width: 100%;
    }

    .footer-1 img{
        width: 110px ;
    }

    .footer-1 .footer-1-descp{
        font-size: 14px;
        margin-top: 8px;
        margin-bottom: 64px;
        
    }

    .social-links{
        font-size: 16px;
    }

    .footer-2-subheader, .footer-3-subheader{
        font-size: 18px;
        margin-bottom: 51px;
        margin-top: 36px;
    }
    
    .footer-2 .footer-links li{
        font-size: 14px;
        margin-bottom: 16px;
        font-weight: normal;
        /* position: absolute; */
        bottom: 32px;
        
    }
    .footer-3 .footer-3-subheader{
        margin-bottom: 16px;
    }

    .footer-3 input{
        width: 100%;
    }
}






/* AUTOMATIC CHANGE OVER PAGE */

.search-container{
    display: block;
    text-align: center;
}
.search-box{
    width: 70vw;
    padding: 18px 30px;

    border-radius: 20px;

    /* display: flex;
    margin: auto; */
    margin-top: 48px;
    border: 1px solid #D8DDF8;
    
}

.fa-search{
    font-size: 24px;
    font-weight:lighter ;
    background-color: #FF8019;
    position: relative;
    padding: 11px;
    border-radius:20px ;
    right: 54px;
    top: 6px;
    
}

.co{
    max-width: 83vw;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* border: 1px solid #FF8019; */
    /* justify-content: space-around; */
}


.co-box{
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 457px;
    border-radius: 20px;
    border: 1px solid #D8DDF8;
    justify-content: flex-end;
    margin-top: 56px;
    margin-right: 16px;

}




/* Charge Over Cards */

.co-details{
    width: 360;
    height: 180;
    background-color: #D8DDF8;
    border-radius: 0 0 20px 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

    .co-details.co-details-name{
        font-size: 18px;
        font-weight:lighter;
    }
    .fa-star{
        color: #FF8019;
        height: 18px;
    }
    .co-details-price{
        font-size: 24px;
    }

.co-pic{
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width:600px){
    .search-container{
        padding-top: 30px;
    }

    .search-box{
        width: 90vw;
        padding: 15px 18px;
    
        border-radius: 16px;
        
    }
    .fa.fa-2x.fa-search{
        display: nones;
    }
    .co{
        max-width: 88vw;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .co-box{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 375px;
        border-radius: 20px;
        justify-content: flex-end;
        margin-top: 34px;
    
    }

    .co-details{
        width: 100%;
        height: 100%;
        padding: 16px;    
    }
    .co-details.co-details-name{
        font-size: 15px;
    }
    .co-details-price{
        font-size: 20spx;
    }


}



/* SOLAR INSTALLATION PAGE */

.solar-hero-container{
    margin: 30px 120px 120px 120px;
    /* border: 1px solid yellow; */
}

    .solar-hero{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
    }

    .solar-text{
        width: 50%;
    
    }

    .solar-text h1{
        font-size: 48px;   
        margin-bottom: 30px;
    }

    .solar-text p{
        font-size: 18px;
        margin-bottom: 50px;
    }
    .solar-hero-img{
        background-image: url(./assets/Images/solar-img/solar-hero.png);
        width: 50%;
        border-radius: 20px;
        background-repeat: no-repeat;
    }

    @media screen and (max-width:600px){
        .solar-hero-img{
            display: none;
        }

        .solar-hero-container{
            margin: 0;
            background-image: url(./assets/Images/solar-img/mobile-solar-img.png);
            background-repeat: no-repeat;
            background-size: cover;
    
        }
        .solar-text{
            width: 100%;
            padding: 126px 20px 44px 20px;    
            text-align: center;
        }
        .solar-text h1{
            font-size: 36px;   
            margin-bottom: 42px;
        }
    
        .solar-text p{
            font-size: 18px;
            margin-bottom: 16px;
            color: white;
            line-height: 1.5;
        }

        
    }

.benefit{
    padding-left: 120px;
    padding-right: 120px;
}

    .benefit h1, .where-we-work h1, .solar-gallery-header{
        font-size: 36px;
        margin-bottom: 40px;
        text-align: center;
        font-weight:normal;
    }
    
    .benefit p{
        font-size: 18px;
        color: #7C7C7C;
    }


    @media screen and (max-width:600px){
        .benefit{
            padding-left: 20px;
            padding-right: 20px;
        }

        .benefit h1, .where-we-work h1,.solar-gallery-header{
            font-size: 24px;
            margin-top: 64px;
            margin-bottom: 33px;
        }

        .benefit p{
            text-align: center;
        }
        
    }


/* WHERE WE WORK SECTION */
.where-we-work{
    
    margin-top: 64px;
}

.work-location{
    padding-right: 120px;
    padding-left: 120px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}
.work-location .location{
    width: 187px;
    height: 187px;
    border-radius: 93px;
    background-color: #D8DDF8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
}

.work-location .location:hover{
    background-color: orange;
    color: white;
    font-size: 24px;
}

@media screen and (max-width:600px){

    .where-we-work{
        background-color: #F6F6F6;
        margin-top: 64px;
    }
    .work-location{
        padding-right: 20px;
        padding-left: 20px;
        
    }

    .work-location .location{
        width: 112px;
        height: 112px;
        border-radius: 56px;
        margin-right: 10px;     
        margin-bottom: 28px;  
    }

    .location .loc-2{
        position: relative;
        top: 40px;
    }

    .where-we-work h1{
        padding-top: 32px;
        
    }
}


/* SOLAR INSTALLATION GALLERY */
.solar-gallery-section{
    margin-top: 64px;
    padding-right: 120px;
    padding-left: 120px;
}

.solar-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    

}

.solar-gallery img{
    width: 216px;
    height: 234px;
    margin-right: 16px;
    margin-bottom: 32px;
}



@media screen and (max-width:600px){
    .solar-gallery-section{
        padding-right: 20px;
        padding-left: 20px;
    }

    .solar-gallery img{
        width: 100%;
        height: 100%;
        margin-right: 8px;
        margin-bottom: 32px;
    }

}



/* PRODUCT DETAILS PAGE*/

.product{
    display: flex;
    flex-direction: row;
    height: 450px;
    padding: 10px;
}

.product-image{
    background-color: #D8DDF8;
    border-radius: 20px;
    padding: 10px;
    height: 350px;
    width: 600px;
    margin-top: 70px;
    margin-left: 20px;
}

.product-descr{
    padding: 20px;
    font-family: 'Noto Sans', sans-serif;
    height: 350px;
}

.product-name{
    font-size: 2em;
    margin-bottom: 5px;
}

.product-price{
    font-size: 48px;
    color: #7E8FE9;
    font-weight: 600;
    line-height: 65px;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 2px;
}

.overview{
    font-size: 5px;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 3px;
}

#over{
    font-size: 1em;
    font-family: 'Noto Sans', sans-serif;
}

.feature{
    margin-top: 10px;
}

.feat{
    font-size: 1em;
    font-family: 'Noto Sans', sans-serif;
}

.btn-orange{
    color: #FF8019;
    background-color: white;
    border: 1px solid #FF8019;
}

.buttons{
    justify-content: space-evenly;
    align-content: space-between;
}

@media screen and (max-width:600px){

    .product{
        display: flex;
        flex-direction: column;
    }

    .product-image img{
        width: 95%;
    }

    .product-image{
        width: 80%;
        padding: 10px;
    }

}

.similar{
    margin-top: 250px;
}

.similar h3{
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 33px;
}

.co-products{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width:600px){
    .similar{
        margin-top: 1000px;
    }

    .co-products{
        display: flex;
        flex-direction: column;
    }
}


/* Form Page styles */

.form-body{
    padding: 30px;
    justify-content: center;
}

.info{
    font-size: 40px;
    line-height: 44px;
    font-weight: normal;
    color: #242424;
    text-align: center;
}

.info-p{
    margin-top: 20px;
    font-size: 18px;
    margin-bottom: 20px;
    line-height: 19px;
    color: #707070;
    text-align: center;
}

.form{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.form input{
    height: 50px;
    width: 500px;
    padding: 10px;
    justify-content: center;
    background: #F3F3F3;
    border: 1px solid #707070;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 20px;
}

.fbody{
    justify-content: center;
    align-items: center;
}

input.name{
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fname{
    margin-right: 5px;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}



select{
    width: 500px;
    border-radius: 6px;
    height: 50px;
    background: #F3F3F3;
    border: 1px solid #707070;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.chckb{
    display: flex;
    flex-direction: row;
}

/* .chckb input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
} */

#checkbox{
    width: 50px;
    height: 20px;
    border: 4px solid#FF8019;
    box-sizing: border-box;
}

#checkbox input:checked ~ .checkmark {
    background-color: #FF8019;
}

input[type=submit]{
    width: 500px;
    background-color: #FF8019;
    color: #F3F3F3;
}

@media screen and (max-width:600px){
    .form{
        margin: auto;
        padding: auto;
    }

    .info{
        text-align: center;
    }

    .info-p{
        text-align: center;
    }

}


/* Landing Page */
.payment{
    display: flex;
    flex-direction: column;
}

.check{
    padding: 30px;
    margin:0px auto;
    margin-top: 50px;
    width: 10%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #FF8019;
    background:#FFFFFF;
    text-align:center;
    color: #FF8019;
}

.check i{
    vertical-align:middle;
    line-height:50px;
    font-size:30px;
}

.payment h1{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    line-height:65px;
    font-size: 48px;
    font-weight: 600;
}

.payment p{
    text-align: center;
    justify-content: center;
    color: #707070;
    font-size: 18px;
    line-height: 25px;
}

.payment a{
    position: static;
    text-align: center;
    width: 500px;
    height: 50px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 19px;
    margin-left: 380px;
    margin-top: 30px;
    border-radius: 6px;
    background: #FF8019;
    transition: all ease-in-out 0.3s;
    top: 20.5px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.payment a:hover{
    text-decoration:none;
    background:#FF8019;
}